---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ .Values.Namespacename }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: {{ .Values.Namespacename }}
  name: {{ .Values.Deploymentname }}
spec:
  selector:
    matchLabels:
      {{- toYaml .Values.matchLabels| nindent 6 }}
  replicas: 5
  template:
    metadata:
      labels:
        {{- toYaml .Values.labels| nindent 8 }}
    spec:
     containers:
        - name: flask
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.service.targetPort }}
